@charset "UTF-8"

// definitions ------------------------------
$FONT_GOTHIC: YuGothic, "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, "メイリオ", Helvetica, Arial, sans-serif
$FONT_SERIF: YuMincho, "游明朝体", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif
$FONT_HELVETICA: Helvetica, $FONT_GOTHIC
$FONT_HELVETICA_NEUE: "Helvetica Neue", $FONT_GOTHIC
$FONT_FUTURA: Futura, $FONT_GOTHIC

$breakpoint: 700px
