doctype html
html(lang="ja")
  head
    include partials/_variables
    include partials/_meta
    
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/sp/main.css")
    
  body
    include partials/_ua
    +ua("App")
    
    div.wrapper
      h1=share_title
    
    script(src="./js/script.js")
