- var share_url = "http://localhost"
- var share_siteName = "hoge"
- var share_title = "hoge"
- var share_image = share_url + "img/ogp/top.png"
- var meta_description = "meta description"
- var meta_keywords = "hoge, fuga"
- var og_description = "og description"
- var tw_description = "tw description"
- var tw_hashtag = "tw hashtag"
- var line_description = "line description"
